@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Ocultar barras de scroll en todos los navegadores */
* {
  -ms-overflow-style: none; /* Internet Explorer y Edge */ /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge y Opera */
}

